 @keyframes show-block {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide-block {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.author {
    animation: show-block 0.3s;
}

.timetable__section {
    animation: show-block 0.3s;
}